@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-paperlogy: "Paperlogy", "Pretendard Variable", Pretendard, sans-serif;

  --color-justice-green: #00a366;
  --color-justice-pink: #e8306d;
  --color-justice-purple: #623e91;
  --color-justice-yellow: #ffed00;

  --color-justice-green-dark: #008759;
  --color-justice-pink-dark: #D02070;
  --color-justice-purple-dark: #5A3D88;
  --color-justice-yellow-dark: #E6CF00;

  --color-justice-green-light: #E6F7F1;
  --color-justice-pink-light: #FDE7F0;
  --color-justice-purple-light: #F0EDF7;
  --color-justice-yellow-light: #FFFACC;

  --color-d-black: #121212;
  --color-d-darkgrey: #999999;
  --color-d-lightgrey: #fafafa;

  --color-justice-yellow-bright: #FFF000;
  --color-justice-yellow-cream: #FFFCE5;
  --color-justice-purple-deep: #5E3A88;
  --color-d-blueblack: #121827;
  --color-d-deepgrey: #2A303D;
  --color-d-softblack: #181818;
  --color-d-grey: #7A7A7A;
  --color-d-mutedgrey: #9E9F9F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media (max-width: 768px) {
  section {
    min-height: 100vh;
  }
}

/*추가*/

input, textarea, select {
  color: black !important;
  background-color: white !important;
  -webkit-text-fill-color: black !important;
  opacity: 1 !important;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af !important;
  -webkit-text-fill-color: #9ca3af !important;
}

body {
  letter-spacing : -0.02em;
}

.hero_txt {
  text-indent: 0.2em;
}

